body {
  /* background-image: linear-gradient(#030844, #419bb6); */
  background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 70px;
  text-align: center;
  background-color: rgba(252, 240, 132, 0.804);
  border: 5px solid rgb(239, 229, 216);
  border-radius: 20px;
}

h2 {
  font-size: 32px;
  font-family: 'Salsa', cursive;
  font-weight: bolder;
  color: rgb(1, 43, 16);
}

.button {
  background-color: rgb(65, 1, 1);
  color: white;
  font-weight: bolder;
  border: 2px solid white;
  border-radius: 18px;
  margin-left: 6px;
  padding: 10px;
  cursor: pointer;
  font-size: medium
}

.div{
  margin-bottom: 40px;
}

.li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

span {
  font-family: 'Mukta', sans-serif;
  font-size: large;
  font-weight: 500;
  color: black;
}

.button1 {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 6px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.checkbox {
  margin-left: 10px;
}

input[type=checkbox]:checked+span {
  color: rgb(255, 255, 255);
  text-decoration: line-through;
  text-decoration-color: #f5f1f1;
 }


.input {
  height: 39px;
  width: 300px;
  border: 3px solid rgb(61, 61, 61);
  border-radius: 20px;
}

input {
  height: 16px;
  width: 16px;
  margin-right: 15px;
}